/* melakukan reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
}

/* Mendefinisikn variabel css global dgn root */
:root{
    --bg-color: #0d1b2a;
    --sc-bg-color: #20293a;
    --text-color: #fff;
    --main-color: #4a8eb3;
    --sc-color: #e0e1dd;
    --o-color: #13161e;
    --h1-font: 100px;
    --h2-font: 56px;
    --p-font: 18px;
    --br-radius: 10px;
}

/* Menerapkan background dan warna utama */
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Mengatur tampilah header */
header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15.6%;
    border-bottom: 1px solid transparent;
    transition: all .40s ease;
}

.logo img{
    width: 100px;
    height: auto;
    
}

.navbar{
    display: flex ;
}

.navbar a{
    color: var(--sc-color);
    font-size: var(--p-font);
    font-weight: 600;
    padding: 10px 25px;
    margin: 0 2px;
    border-radius: var(--br-radius);
    transition: all .40s ease;
}

.navbar a:hover{
    background: var(--main-color);
    color: var(--text-color);
}

section{
    padding: 160px 16% 90px;
}
#menu-icon{
    font-size: 36px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}
/* bagian header selesai  */

/* Mengatur tampilah home */
.home{
    height: 100vh;
    width: 100%;
    position:relative;
    background: url(../img/bg-ops-2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding-right: 2px;
}

.home-text h1{
    font-family: 'Montserrat',sans-serif;
    margin-bottom: 10px;
    font-size: var(--h1-font);
    font-weight: bold;
}
.home-text h3, h4{
    color: var(--main-color);
    font-size: 30px;
    font-weight: 800;
    margin-left: 5px;
}

/* bagian header  */
header.sticky{
    padding: 1px 15.4%;
    background: var(--bg-color);
    transition: 0.5s;
}

/* Mengatur bagian about */
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 32px;
}

.about-text h4{
    margin: 10px 0;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}

.about-text h2 {font-size: var(--h2-font);}

.about-text p{
    color: var(--sc-color);
    font-size: var(--p-font);
    line-height: 20px;
    margin-bottom: 32px;
}

.about-img img{
    width: 400px;
    border-radius: var(--br-radius);
}

.btn{
    display: inline-block;
    padding: 14px 40px;
    border-radius: var(--br-radius);
    font-size: 17px;
    font-weight: 600;
    background: var(--main-color);
    color: var(--text-color);
    border:  2px solid var(--main-color);
    transition: all .40s ease;
}
.btn:hover{
    transform: scale(1.1) translateX(5px);
    background: transparent;
    border: 2px solid var(--main-color);
}

/* mengatur bagian skill */
.main-text {
    text-align: center;
}
.main-text h2{
    font-size: var(--h2-font);
    margin-bottom: 10px;
}
.main-text h4{
    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
}

.skill-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    text-align: center;
    gap: 32px;
    margin-top: 80px;
}

.box{
    padding: 45px;
    background: var(--sc-bg-color);   
    border-top: 5px solid transparent;
    transition: all .40s ease;
    cursor: pointer;
    border-radius: var(--br-radius);

}
.box h3{
    font-size: 24px;
    margin: 15px 0;
    transition: all .40s ease;
}

.box p{
    color: var(--sc-color);
    font-size: var(--p-font);
    line-height: 20px;
}

.box:hover{
    transform: scale(1.01) translateY(-5px);
    border-top: 4px solid var(--main-color) ;
}
.box:hover h3 {color: var(--main-color); }

.box img{
    background: var(--main-color);
    width: 50px;
    padding: 10px;
    border-radius: var(--br-radius);
}

/* Mengatur tampilan project */
.project-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    text-align: center;
    gap: 32px;
    margin-top: 80px;
}

.row {
    padding: 25px;
    background: var(--sc-bg-color);
    border-radius: var(--br-radius);
    transition: all .40s ease;
}
.row img{
    height: auto;
    width: 100%;
    border-radius: var(--br-radius);
    margin-bottom: 24px;
}

.main-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.row h3{
    font-size: 25px;
    font-weight: 700;
}

.row h6{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.row-icon i {font-size: 18px;}

.row:hover {
    cursor: pointer;
    transform: scale(1.03) translateY(1px) translateX(1px);
}

/* Mengatur tampilan Contacct */
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 48px;
}

.contact-text h2 {font-size: var(--h2-font);}

.contact-text h4{
    margin: 10px 0;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p{
    color: var(--sc-color);
    font-size: var(--p-font);
    line-height: 15px;
    margin-bottom: 32px;
}

.contact-list {margin-bottom: 48px;}

.contact-list li{
    display: block;
    line-height: 23px;
}
.contact-list li a{
    display: block;
    color: var(--sc-color);
    font-size: var(--p-font);
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    color: var(--main-color);
}

.contact-icon i{
    height: 40px;
    width: 40px;
    background: var(--sc-bg-color);
    border-radius: 8px;
    color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 10px;
    transition: all .40s ease;
}

.contact-icon i:hover{
    color: var(--text-color);
    background: var(--main-color);

}

.contact-form form {position: relative;}

.contact-form form input, form textarea{
    border: none;
    outline: none;
    width: 100%;
    padding: 18px;
    background: var(--sc-bg-color);
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    border-radius: var(--br-radius);
}

.contact-form textarea{
    resize: none;
    height: 200px;
}

/* Mengatur bagian submit */
.contact-form form .send{
    border: none;
    outline: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    background: var(--main-color);
    color: var(--text-color);
    width: 140px;
    height: 50px;
    transition: all .40s ease;
    cursor: pointer;
    border-radius: var(--br-radius);
}

.contact-form form .success-message{
    color: rgb(64, 172, 64);
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    position: absolute;
    bottom: -30px;
    left: 0%;
    animation: fadeOut 2s ease;
}

@keyframes fadeOut{
    form {
        opacity: 10;
    }
    to {
        opacity: 0;
    }
}


/* Mengatur bagiaan footer*/
.last-text{
    text-align: center;
    color: var(--sc-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 25px;
}


.top{
    position: fixed;
    bottom: 34px;
    right: 34px;
}
.top i{
    color: var(--text-color);
    background: var(--main-color);
    font-size: 20px;
    padding: 10px;
    border-radius: var(--br-radius);
}

/* Mengatur tampilan responsif */
@media (max-width: 1325px){
    header{padding: 16px 3%;}
    header.sticky{padding: 8px 3%;}
    section{padding: 130px 3% 60px;}
}

@media (max-width: 970px){
    :root{
        --h1-font: 67.2px;
        --h2-font: 46.4px;
        --p-font: 16px;
    }
    section{
        padding: 70px 3% 60px;
    }
    .home{
        height: 85vh;
    }
    .about, .contact{
        grid-template-columns: 1fr;
    }
    /* .about-img{
        text-align: center ;
    } */ 
    /* perbaiki dlu gambar di about me */
}

@media (max-width: 830px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: -600px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--sc-bg-color);
        text-align: left;
        transition: all .40s ease;
    }
    .navbar a{
        display: block;
        padding: 16px;
        margin: 16px;
    }
    .navbar.active{
        top: 100% ;
    }
    :root{
        --h1-font: 3.7rem;
        --h2-font: 2.7rem;

    }
}









